@import "bootstrap-sprockets";
@import "bootstrap";

 .photo{
  width: 150px;
  height: 150px;
}

 h1 {
 	 text-align: center;
 }

 .checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 10;
}
 /* form */

 body {
     margin: center;
 }
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
   // color: #00415d;
  // background-color: black;
  // border-color: #fff;
  // text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 20px;
  // background-color: black;
  // border-color: #fff;
  // text-align:center;s
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #0077b3;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}


.body {
  padding-top: 60px;
  background-image: url("sign.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%;
  padding-bottom: 100%;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
input.hidden {
    position: absolute;
    left: -9999px;
}
#profile-image1 {
  cursor: pointer;
  background: image-url('cooker2.jpg');
  width: 100px;
  height: 100px;
  border:2px solid #03b1ce ;}
  .tital{ font-size:16px; font-weight:500;}
   .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}  

.userphoto h1{
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: image-url('001-island.svg')
}

.textform {
  text-align: left;
  color: black;
}
.sing h1{
  color: white;
}
.userloginimg h1{
  width: 225px;
  height: 225px;
  margin: auto;
  border-radius: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: image-url('images.png')
}

.tab_frm{
  float:left;
   width:100%;
 }

.tab_frm li{
  float:left;
  height:100%;
   width:50%; 
   text-align:center;
    list-style:none;
}
.tab_frm li a{
  width:100%;
   background:#fff !important;
   color:#333 !important; 
   float:right;
   height:40px;
  padding:8px 0 0 0;
  }
.tab_frm li a.active{
  color:white !important; 
  background:#0077b3!important;
  text-decoration: none !important;
  // border: 2px solid;
  //   border-radius: 25px;
}
.tab_frm li.green a.active{
  color:white !important; 
  background:#1CB94E!important;
  text-decoration: none !important;
  // border: 2px solid;
  //   border-radius: 25px;
}

.panel.panel-login {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 15px !important;
    border-color:#fff !important;
    border-width: 5px !important;
    box-shadow:0 1px 0 !important;
}



// .table {
//     border-collapse: collapse;
//     width: 300px;
//     height: 250px;
//     margin: 200px 100px 200px 400px;
//     table-layout: fixed;
// }
.container { 
  width: auto; 
}
.red {
 color: red;
}
/*board*/
.table {
    border: 1px solid black;
    margin: 150px 20px;
    max-width: 40px;
    table-layout: fixed;
}

.field {
    width: 50px;
    height: 50px;
}

.field.none {
    background-color: white;
}

.field.hit {
    background-color: transparent;
    background: url('/assets/hit.jpg');
    background-size: 100%;
}

.field.ship {
    background-color: black;
}

.field.miss {
    background-color: transparent;
    background-size: 100%;
    background-image: url('/assets/miss.jpg');
}

.field.special {
    background-color: yellow;
}