// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* board */

table {
    position: relative;
    display: inline-block;
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 0;
}