<table class="table table-striped table-bordered">
    <% for row in 0..9 %>
        <tr>
            <% for column in 0..9 %>
                <td>
                    <%= @grid[row][column]['action'] %>
                </td>
            <% end %>
        </tr>
    <% end %>
</table>