
<<<<<<< HEAD
<!-- <div class="cont">
=======
<div class="cont">
>>>>>>> 2a66ea581b172604b11a567c0a0974915a44444d
      <footer style="height:60px;color:#777;background-color:#b3ffff;text-align:center;margin-bottom:-20px;border-top:1px solid #e5e5e5">
          <span class="links" style="margin:10px 0;padding-left:0;">
            <p style="font-size:small;font-weight:400;font-family:'Roboto' sans;text-align:center;font-color:#fff;z-index:1;">
            © 2017 All rights reserved.
            </p>
           </span>
       </footer>
<<<<<<< HEAD
   </div> -->
          <footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>Battleship © 2017, All Rights Reserved
                <br>
                <span>Web Design By: Datecs Team</span></p>
            <p><a href="http://www.datecs.bg/" target="_blank">Datecs Corp. <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
        </div>
</footer>
=======
   </div>
          
>>>>>>> 2a66ea581b172604b11a567c0a0974915a44444d
