<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
  <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
    
  </button>
 
    </div>
    <div class="collapse navbar-collapse" id="navMain">
      <ul class="nav navbar-nav pull-right">
        
        
        <% if logged_in? %>
        <li><%= link_to "New Game", games_path %></li>
        <li><%=link_to current_user.name, current_user %></a></li> 
        <% else %>
        <li><%= link_to "New Game", signup_path, method: :get %>
        <li><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><%= link_to "Sign up / Sing in", signup_path, method: :get %></li> 
        <% end %>
          <li><audio id="audio-player" autoplay name="audio-player" src="http://sifidesign.com/audio/explosion.mp3" ></audio>
          <div class="musicplayer">
            <div class="musicicon">
                <p>MUSIC</p>
            </div>
            <div class="toggle">
                <div class="on">ON</div>
                <div class="off">OFF</div>
                <div class="slide"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>




<style type="text/css"> 

}
.toggle{
  background: rgba(255, 0, 0, 0.8);
  width: 77px;
  height: 22px;
  position: relative;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 0px;
  font-size: 13px;
  
  line-height: 22px;
  font-weight: bold;
  margin: 0 auto;
}
.toggle .on, .toggle .off {
  z-index: 10;
  position: absolute;
  top: 0px;
  height: 24px;
  width:29px;
  transition: all 0.2s;
}
.toggle .off {
  right: 10px;
  color:#80ffe5;
}
.toggle .on {
  left: 5px;
  color: #999966;
}


.toggle.active .on {
  color:#80ffe5;
}
.toggle.active .off {
  color:#999966;
}
.musicicon p{
  text-align: center;
  font-size:10px;
  font-family:Arial;
  line-height:32px;
  color:#00ffff;
  font-weight:bold;
}
.musicplayer{
  width: 77px;
  margin: 20px auto 0 auto;
}



section{
  background:#b3ffff;
}

.nav.navbar-nav.pull-right li a {
  color:#adad85;
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.7);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  
  .opaque-navbar {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}      
}



</style>
